.gpt-background {
    background-image: linear-gradient(
        90deg,
        hsl(240deg 100% 20%) 0%,
        hsl(289deg 100% 21%) 11%,
        hsl(315deg 100% 27%) 22%,
        hsl(329deg 100% 36%) 33%,
        hsl(337deg 100% 43%) 44%,
        hsl(357deg 91% 59%) 56%,
        hsl(17deg 100% 59%) 67%,
        hsl(34deg 100% 53%) 78%,
        hsl(45deg 100% 50%) 89%,
        hsl(55deg 100% 50%) 100%
      );
      /* background-image: linear-gradient(
        90deg,
        hsl(240deg 100% 51%) 1%,
        hsl(254deg 100% 64%) 42%,
        hsl(259deg 100% 73%) 49%,
        hsl(262deg 100% 82%) 51%,
        hsl(265deg 100% 91%) 51%,
        hsl(0deg 0% 100%) 50%,
        hsl(24deg 100% 91%) 49%,
        hsl(24deg 100% 81%) 49%,
        hsl(24deg 100% 72%) 51%,
        hsl(23deg 100% 63%) 58%,
        hsl(26deg 100% 50%) 99%
      ); */
    height: 100vh; /* Ensure the background covers the entire viewport height */
    width: 100vw;  /* Ensure the background covers the entire viewport width */

    /* css style to center the div */
    display: flex;
    justify-content: center;
    align-items: center;

    /* css style to make font color inverted from background color */
    color: white;

    /* css style to make font thicker */
    font-weight: bold;



  }
  
